<view {layout}>
  <block {script}>
    <script>
      function hoverNavBar() {
        const navBar = $("#navBar")
        if (window.scrollY > 10) {
          navBar.addClass("hoverbar")
        } else {
          navBar.removeClass("hoverbar")
        }
      }

      $(document).ready(function () {
        hoverNavBar()
      })

      $(window).scroll(function () {
        hoverNavBar()
      })

      $("#navBar").on("show.bs.collapse", function (event) {
        $(this).addClass("hoverbar")
      })

      $("#navBar").on("hide.bs.collapse", function (event) {
        hoverNavBar()
      })
    </script>
  </block>

  <block {style}>
    <style>
      .hoverbar {
        background-color: var(--bs-primary);
        box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 1);
      }

      nav.navbar .nav-link {
        --bs-nav-link-color: rgba(255, 255, 255, 0.8);
      }

      section {
        text-align: center;
        padding-top: 10vh;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: 60vh;
      }

      section hr {
        border: 0;
        height: 0.2rem;
        width: 5rem;
        margin: 1.5rem auto;
        background-color: var(--bs-primary);
        opacity: 1;
      }

      #about {
        color: var(--bs-white);
        background-image: linear-gradient(
            rgba(0, 0, 125, 0.3),
            rgba(0, 0, 125, 0.3)
          ),
          url("/public/img/brainstorm.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;

        padding-top: 20vh;
      }

      #about h1 {
        font-size: 3rem;
        color: var(--bs-white);
      }

      #about .btn {
        margin-top: 1.5rem;
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
      }

      #pricing .card {
        width: 30rem;
        margin: 1rem;
      }

      @media (max-width: 768px) {
        #pricing .card {
          width: 100%;
          margin: 0.5rem;
        }
      }

      #feature {
        background-image: linear-gradient(var(--bs-white), var(--bs-primary));
      }

      #feature .card {
        margin: 1rem;
        padding: 2rem 0.5rem;
      }

      @media (max-width: 768px) {
        #feature .card {
          margin: 0.5rem;
        }
      }

      #contact {
        padding-left: 30rem;
        padding-right: 30rem;
      }

      #contact .btn {
        padding: 0.6rem 2.25rem;
      }

      @media (max-width: 1200px) {
        #contact {
          padding-left: 5rem;
          padding-right: 5rem;
        }
      }
    </style>
  </block>

  <block {header}>
    <nav id="navBar" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="/public/favicon.png"
            width="30"
            height="30"
            alt="Brand Logo"
          />
          <span style="vertical-align: bottom">Your Logo</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navBarLink"
          aria-controls="navBarLink"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          id="navBarLink"
          class="collapse navbar-collapse d-lg-flex justify-content-end"
        >
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#about"
              >About Us</a
            >
            <a class="nav-link" href="#pricing">Pricing</a>
            <a class="nav-link" href="#feature">Features</a>
            <a class="nav-link" href="#contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </block>

  <block {body}>
    <main data-bs-spy="scroll" data-bs-target="#navBarLink" tabindex="0">
      <section id="about">
        <h1>Hello, Web Developer</h1>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum
          ratione quisquam nemo at, animi modi natus quidem. Quibusdam explicabo
          et facilis a tenetur natus commodi hic, voluptatum similique beatae.
        </p>
        <a class="btn btn-primary" href="/login">Login to start</a>
      </section>

      <section id="pricing">
        <h2>Pricing</h2>
        <hr />
        <div class="d-lg-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Free</h3>
              <p class="fs-1">
                $0 <span class="fs-3 text-muted">/ month</span>
              </p>
              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item">5 Users Only</li>
                <li class="list-group-item">2 Projects Min</li>
                <li class="list-group-item">5gb of Storage</li>
                <li class="list-group-item">Community Support</li>
              </ul>

              <a class="btn btn-success" href="/register">Register</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Business</h3>
              <p class="fs-1">
                $5 <span class="fs-3 text-muted">/ month</span>
              </p>
              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item">20 Users Only</li>
                <li class="list-group-item">100 Projects Min</li>
                <li class="list-group-item">100gb of Storage</li>
                <li class="list-group-item">Community Support</li>
              </ul>

              <a class="btn btn-warning" href="/register">Register</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Corporate</h3>
              <p class="fs-1">
                $15 <span class="fs-3 text-muted">/ month</span>
              </p>
              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item">Unlimited Users</li>
                <li class="list-group-item">Unlimited Projects</li>
                <li class="list-group-item">1tb of Storage</li>
                <li class="list-group-item">Premium Support</li>
              </ul>

              <a class="btn btn-danger" href="/register">Register</a>
            </div>
          </div>
        </div>
      </section>

      <section id="feature">
        <h2>Our Greatest Feature</h2>
        <hr />
        <div class="d-md-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-gem text-primary fs-1 mb-3"></i>
              <h3 class="card-title">Sturdy Themes</h3>
              <p class="card-text">
                Our themes are updated regularly to keep them bug free!
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fa fa-laptop text-primary fs-1 mb-3"></i>
              <h3 class="card-title">Up to Date</h3>
              <p class="card-text">
                All dependencies are kept current to keep things fresh.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fa fa-globe text-primary fs-1 mb-3"></i>
              <h3 class="card-title">Ready to Publish</h3>
              <p class="card-text">
                You can use this design as is, or you can make changes!
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fa fa-heart text-primary fs-1 mb-3"></i>
              <h3 class="card-title">Made with Love</h3>
              <p class="card-text">
                Is it really open source if it's not made with love?
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="contact">
        <h2>Let's Get In Touch!</h2>
        <hr />
        <p>
          Ready to start your next project with us? Send us a messages and we
          will get back to you as soon as possible!
        </p>
        <form class="d-grid gap-3">
          <div class="form-floating">
            <input
              class="form-control"
              type="text"
              placeholder="Full name"
              id="inputFullname"
            />
            <label for="inputFullname">Full name</label>
          </div>

          <div class="form-floating">
            <input
              class="form-control"
              type="email"
              placeholder="Email address"
              id="inputEmail"
            />
            <label for="inputEmail">Email address</label>
          </div>

          <div class="form-floating">
            <input
              class="form-control"
              type="phone"
              placeholder="Phone number"
              id="inputPhone"
            />
            <label for="inputPhone">Phone number</label>
          </div>

          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Message"
              id="inputMessage"
              style="height: 130px"
            ></textarea>
            <label for="inputMessage">Message</label>
          </div>

          <button class="btn btn-primary">Submit</button>
        </form>
      </section>

      <view {components\footer} />
    </main>
  </block>
</view>
