<view {layout}>
  <block {script}>
    <script>
      function handleScroll() {
        const navMain = $("#navMain")

        if (window.scrollY > 50) {
          navMain.addClass("bg-primary shadow")
        } else {
          navMain.removeClass("bg-primary shadow")
        }
      }

      $(document).scroll(handleScroll)

      $(document).ready(function () {
        const scrollSpy = new bootstrap.ScrollSpy(
          document.getElementById("app"),
          {
            target: "#navMain",
          },
        )

        handleScroll()
      })
    </script>
  </block>

  <block {style}>
    <style>
      .btn {
        --bs-btn-padding-x: 4rem;
        --bs-btn-padding-y: 1rem;
        --bs-btn-border-radius: 10rem;
      }

      nav.navbar {
        --bs-navbar-hover-color: var(--bs-secondary);
        --bs-navbar-color: var(--bs-white);
        --bs-navbar-brand-color: var(--bs-white);
        --bs-navbar-active-color: var(--bs-white);
        --bs-navbar-padding-y: 1rem;
        --bs-navbar-padding-x: 20%;
      }

      nav.navbar .nav-link.active {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      }

      section {
        padding-top: 100px;
        padding-left: 15%;
        padding-right: 15%;
        min-height: 40rem;
        color: var(--bs-white);
        background-color: var(--bs-body-color);
        font-size: 2rem;
        text-align: center;
      }

      h1 {
        font-weight: bold;
        font-size: 4.5rem;
      }

      h2 {
        font-weight: bold;
        font-size: 3rem;
      }

      hr {
        height: 0.3rem;
        color: var(--bs-primary);
        background-color: var(--bs-primary);
        max-width: 200px;
        opacity: 0.8;
        margin-left: auto;
        margin-right: auto;
      }

      #about {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.5)
          ),
          url("public/img/bg-welcome.jpg");
        background-position: center;
        background-size: cover;
        padding-top: 12%;
        height: 1080px;
      }

      #feature {
        font-size: 1rem;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
      }

      #feature .card {
        --bs-card-border-color: rgba(0, 0, 0, 0);
      }

      #pricing {
        font-size: 1rem;
        background-color: var(--bs-primary);
        padding-bottom: 3rem;
      }

      #pricing .card {
        --bs-card-border-width: 0px;
        --bs-card-bg: transparent;
      }

      #pricing .list-group {
        --bs-list-group-bg: transparent;
        --bs-list-group-color: rgba(255, 255, 255, 0.9);
      }

      #contact {
        font-size: 1rem;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        padding-bottom: 10rem;
      }

      #contact form {
        margin-top: 3rem;
        margin-left: 30%;
        margin-right: 30%;
      }

      #footer {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.9);
        min-height: 3rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
      }
    </style>
  </block>

  <block {header}>
    <nav id="navMain" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Your Logo</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#about"
              >About Us</a
            >
            <a class="nav-link" href="#feature">Features</a>
            <a class="nav-link" href="#pricing">Pricing</a>
            <a class="nav-link" href="#contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </block>

  <block {body}>
    <section id="about">
      <h1>Hello, Web Developer</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rerum
        ratione quisquam nemo at, animi modi natus quidem. Quibusdam explicabo
        et facilis a tenetur natus commodi hic, voluptatum similique beatae.
      </p>
      <a class="btn btn-primary" href="/login">Login</a>
    </section>

    <section id="feature">
      <h2>Our Greatest Feature</h2>
      <hr />
      <div class="d-lg-flex gap-5 mt-5">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-gem text-primary fs-1 mb-3"></i>
            <h3 class="card-title">Sturdy Themes</h3>
            <p class="card-text">
              Our themes are updated regularly to keep them bug free!
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <i class="fa fa-laptop text-primary fs-1 mb-3"></i>
            <h3 class="card-title">Up to Date</h3>
            <p class="card-text">
              All dependencies are kept current to keep things fresh.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <i class="fa fa-globe text-primary fs-1 mb-3"></i>
            <h3 class="card-title">Ready to Publish</h3>
            <p class="card-text">
              You can use this design as is, or you can make changes!
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <i class="fa fa-heart text-primary fs-1 mb-3"></i>
            <h3 class="card-title">Made with Love</h3>
            <p class="card-text">
              Is it really open source if it's not made with love?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="pricing">
      <h2>Pricing</h2>
      <hr />
      <div class="d-lg-flex gap-5 mt-5 justify-content-center">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Free</h3>
            <p class="fs-1">
              $0 <span class="fs-3 text-white-50">/ month</span>
            </p>
            <ul class="list-group list-group-flush mb-5">
              <li class="list-group-item">5 Users Only</li>
              <li class="list-group-item">2 Projects Min</li>
              <li class="list-group-item">5gb of Storage</li>
              <li class="list-group-item">Community Support</li>
            </ul>

            <a class="btn btn-success" href="/register">Register</a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Business</h3>
            <p class="fs-1">
              $5 <span class="fs-3 text-white-50">/ month</span>
            </p>
            <ul class="list-group list-group-flush mb-5">
              <li class="list-group-item">20 Users Only</li>
              <li class="list-group-item">100 Projects Min</li>
              <li class="list-group-item">100gb of Storage</li>
              <li class="list-group-item">Community Support</li>
            </ul>

            <a class="btn btn-warning" href="/register">Register</a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Corporate</h3>
            <p class="fs-1">
              $15 <span class="fs-3 text-white-50">/ month</span>
            </p>
            <ul class="list-group list-group-flush mb-5">
              <li class="list-group-item">Unlimited Users</li>
              <li class="list-group-item">Unlimited Projects</li>
              <li class="list-group-item">1tb of Storage</li>
              <li class="list-group-item">Premium Support</li>
            </ul>

            <a class="btn btn-danger" href="/register">Register</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <h2>Let's Get In Touch!</h2>
      <hr />
      <p>
        Ready to start your next project with us? Send us a messages and we will
        get back to you as soon as possible!
      </p>
      <form class="d-grid gap-3">
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            placeholder="Full name"
            id="inputFullname"
          />
          <label for="inputFullname">Full name</label>
        </div>

        <div class="form-floating">
          <input
            class="form-control"
            type="email"
            placeholder="Email address"
            id="inputEmail"
          />
          <label for="inputEmail">Email address</label>
        </div>

        <div class="form-floating">
          <input
            class="form-control"
            type="phone"
            placeholder="Phone number"
            id="inputPhone"
          />
          <label for="inputPhone">Phone number</label>
        </div>

        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Message"
            id="inputMessage"
            style="height: 130px"
          ></textarea>
          <label for="inputMessage">Message</label>
        </div>

        <button class="btn btn-primary">Submit</button>
      </form>
    </section>

    <section id="footer">
      <p>Copyright © 2023 - Todo backend</p>
    </section>
  </block>
</view>
